/*
 *= require_tree .
 *= require_self
 */

body {
  background: #2B2B2B;
}

@import "susy";

$susy: (
  columns: 5,
  gutters: .1,
  gutter-position: inside,
);

header {
  height: 140px;
  width: 100%;
  background: rgba(224, 39, 26, .95);
  position: fixed;
  top: 0;
  left: 0;

  img {
    display: block;
    margin: 1em auto;
  }

  input {
    display: block;
    margin: 0 auto;
    width: 300px;
    line-height: 1.4285;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
}

#comics {
  margin-top: 160px;
}

.comic {
  @include span(1);
  margin-bottom: 20px;

  img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
  }
}

#pages {
  display: block;
  clear: both;
}

.page {
  text-decoration: none;
  color: #EA272E;
  background: #fff;
  font-family: Arial;
  padding: 6px 12px;
  margin: 6px 12px;
  font-weight: bold;

  &.previous {
    float: left;
  }

  &.next {
    float: right;
  }
}
